.wd_0 { width: 0%; }
.wd_5 { width: 5%; }
.wd_10 { width: 10%; }
.wd_15 { width: 15%; }
.wd_20 { width: 20%; }
.wd_25 { width: 25%; }
.wd_30 { width: 30%; }
.wd_35 { width: 35%; }
.wd_40 { width: 40%; }
.wd_45 { width: 45%; }
.wd_50 { width: 50%; }
.wd_55 { width: 55%; }
.wd_60 { width: 60%; }
.wd_65 { width: 65%; }
.wd_70 { width: 70%; }
.wd_75 { width: 75%; }
.wd_80 { width: 80%; }
.wd_85 { width: 85%; }
.wd_90 { width: 90%; }
.wd_95 { width: 95%; }
.wd_100 { width: 100%; }

.align_right { text-align: right; }
.align_left { text-align: left; }
.align_center { text-align: center; }