@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
@font-face {
  font-family: hand_of_sean;
  src        : url('/fonts/hand_of_sean_demo.ttf');
  src        : url('/fonts/hand_of_sean_demo.ttf') format("truetype");
}

//FONT FAMILY
$fontFamily    : 'Source Sans Pro', sans-serif;
$fontHandOfSean: hand_of_sean, $fontFamily;

//COLOR
$color01: #FFFFFF;
$color02: #000000;
$color03: #97DECC;
$color04: #808080;
$color05: #AF8570;
$color06: #B6CFD4;
$color07: #BFE8E2;
$color08: #EFC7C7;
$color09: #E4D1CC;
$color10: #F8E1BB;
$color11: #42332B;
$color12: #1B2125;
$color13: #4A4A4A;
$color14: #323C47;
$color15: #8B572A;
$color16: #F7F7F7;
$color17: #D0D0D0;
$color18: #F9F9F9;
$color19: #9B9B9B;
$color20: #DDE3E8;
$color21: #f55b4f;
$color22: #8D6C5B;
$color23: #9A7462;
$color24: #F5A623;
$color25: #C7C7C7;
$color26: #FEFEFE;
$color27: #fbfbfb;


//SHADOW
$boxShadow01: 6px 2px 20px 0 rgba(0,0,0,0.06);

//PADDING
$paddingXS: 0 10px;

//MEDIA QUERYS
//Creation:   $sm: '(min-width: 600px) and (max-width: 959px)';
//   Usage:   @media #{$sm} { rules.... }
$xs    : '(max-width: 767px)';
$gt-xs : '(min-width: 768px)';
$sm    : '(max-width: 1023px)';
$lg    : '(min-width: 1024px)';
