.bonus-div {
    background: url("/images/servicio-escuelas@2x.jpg");
    background-repeat: round;
    padding: 40px 20px 40px 20px;
    height: 246px;

    h4 {
        width: 45%;
        margin-left: 10px;
    }

    a {
        display: flex;
        height: 80%;
        align-items: flex-end;
    }
}