.mobile-menu {
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.24s;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &-open {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        height: auto;
        transition: all 0.24s;
        border-bottom: 1px solid black;
        border-top: 1px solid black;

        a {
            margin-bottom: 10px;
        }
    }


}