.event-sec {

    .event-header {
        width: 100%;
        height: 333px;

        .darken {
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.3;
        }

    }

    .event-title {
        width: fit-content;
        margin-left: 37%;
        margin-right: 5%;

        .p-title {
                font-size: 18px;
                font-weight: bold;
                margin: 10px 0 10px 0;
        }
    }

    .event-content-div {
        display: flex;
        justify-content: center;
        margin: 80px 0 80px 0;

        .text {
            margin-bottom: 40px;
        }

        .button-div {
            width: 100%;
            margin: 0;
            
            button {
                width: 100%;
                margin: 0;
            }
        }

        .event-data {
            width: 176px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-right: 100px;
        }

        .event-description {
            width: 631px;
            display: flex;
            flex-direction: column;

        }
    }
}

//MOBILE

@include respond(phone) {
    .event-sec {
        .event-title {
            width: 100%;
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 20px;
                line-height: 30px;
                width: 90%;
            }

            h3 {
                font-size: 20px;
                font-weight: normal;
                color: $middle-grey;
                width: 90%;
            }
        }

        .event-content-div {
            flex-direction: column;
            align-items: center;
            margin: 0;

            .event-data {
                margin: 0;
                width: 100%;

                .month {
                    order: 3;
                }

                .day {
                    order: 2;
                    font-size: 70px;
                }

                .hour {
                    order: 4;
                }

                .place {
                    order: 5;
                }

                .button-div {
                    order: 1;
                    margin-bottom: 30px;
                    
                    button {
                        height: 62px;
                    }
                }
            }

            .event-description {
                margin: 30px 0;
                width: 80%;

                .button-div {
                    display: none;
                }
            }
        }
    }
}