@import './Stepper/_style.scss';

@media #{$xs} {
  .fb_dialog.fb_dialog_advanced, .fb_dialog.fb_dialog_mobile{
    bottom: 78pt !important;
  }
}

.a_p-buy_p {
  @include flex-complete(space-between, start, wrap, column);
  min-height: 600px;
  padding   : 45px 50px 23px;
  position  : relative;
  width     : 50%;

  @media #{$sm} {
    display   : block;
    min-height: initial;
    padding   : 20px 0 15px;
    width     : 100%;

    .favourite_ui {
      position: relative;
      top: initial;
      right: initial;
    }
  }

  .hidden_prop-seo{
    display: none;
  }

  &-title {
    color      : $color04;
    font-size  : 29px;
    font-weight: 500;

    @media #{$sm} {
      display: none;
    }
  }

  &-small_info {
    margin: 30px 0 20px;
    color : $color04;

    @media #{$sm} {
      margin    : 0 auto;
      max-width : 440px;
      text-align: center;
    }

    .link_to_info_product {
      color          : $color03;
      cursor         : pointer;
      margin-left    : 5px;
      text-decoration: none;
    }
  }

  &-buy {
    @include flex-complete(space-between);
    margin-top: 25px;
    width     : 100%;

    @media #{$sm} { 
      margin   : 25px auto 0;
      max-width: 500px;
    }

    @media #{$xs} {
      @include flex-direction(row-reverse);
      @include box-shadow(6px -2px 20px 0 rgba(0,0,0,0.06));
      background-color: #ffffff;
      bottom          : 0;
      height          : 80px;
      left            : 0;
      margin          : 0;
      max-height      : 80px;
      max-width       : initial;
      padding         : 0 23px;
      position        : fixed;
      width           : 100%;
      z-index         : 3;
    }
  }

  &-price {
    font-size: 35px;
    color    : $color03;

    @media #{$xs} {
      font-size: 20px;
    }
    
    .odometer { 
      display: inline-block;
      margin : 0 5px 3px 0;
    }

    .small_text {
      font-size  : 13px;
      margin-left: 5px;
      font-weight: 600;

      @media #{$xs} {
        font-size: 11px;
      }
    }
  }

  &-notify {
    @media #{$xs} {
      width: 60%;
    }

    &-not_available {
      line-height: 50px;
      color      : $color21;
      text-align : right;
  
      @media #{$xs} {
        text-align  : left;
        line-height : 1.2em;
        width: 200px;
      }
    }

    .button_ui {
      min-width: 100px;
      border-radius: 0 3px 3px 0px;
      box-shadow: none;
      padding: 0 5px;

      @media #{$xs} {
        font-size  : 12px;
        line-height: 1em;
        height     : 30px;
        min-width  : 50px;
        padding    : 0 5px;
      }
    }

    &-email {
      @include display-flex();
      
      .text_input_ui-max_width {
        margin-bottom: 0;
        border-radius: 3px 0 0 3px;
        
        .text_input_ui-field {
          @media #{$xs} {
            font-size  : 12px;
            line-height: 1em;
            height     : 30px;
            min-width  : 0;
            padding    : 0 5px;
          }
        }

        .text_input_ui-error {
          @media #{$xs} {
            width: 300px;
          }
        }
      }

      &.p-email-errors {
        margin-bottom: 20px;
      }
    }
  }

  &-old_price {
    color          : $color25;
    font-size      : 25px;
    font-weight    : 400;
    text-decoration: line-through;

    @media #{$xs} {
      font-size: 18px;
    }
  }

  &-offer_price {
    color: $color24;
  }

  &-add_cart {
    font-size     : 17px;
    height        : 50px;
    line-height   : 50px;
    min-width     : 205px;
    text-transform: uppercase;

    @media #{$xs} {
      background-color: rgba($color01, 0.7);
      color           : $color03;
      font-size       : 13px;
      height          : 40px;
      line-height     : 40px;
      min-width       : 140px;
    }
  }
}