
.contact-form-div {
    
    input, .button-div {
        width: 100%;
    }

    button {
        width: 100%;
        margin: 0;
    }

    .message {
        height: 142px;
        overflow: scroll;

    }
}
