@import './BoxSlider/_style.scss';
@import './BoxBuyProduct/_style.scss';
@import './BoxDetails/_style.scss';
@import './BoxRatings/_style.scss';
@import './RelatedProduct/_style.scss';

.return-to-shop {
    margin: 40px 0;
    padding-left: 10%;
    
    h4 {
        font-size: 18px;
    }
}
