.section-header {
    height: 196px;
    background-color: $brand01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
        }
    }
}