.step-input {
  @include transform(translateY(-50%));
  position  : absolute;
  text-align: center;
  top       : 50%;
  width     : 100%;
  
  input {
    @include border-radius(2px);
    @include placeholder-color(rgba($color19, 0.31));
    border        : 1px solid #E1E1E1;
    background    : $color01;
    color         : $color19;
    font-size     : 16px;
    letter-spacing: 0.98px;
    line-height   : 60px;
    outline       : none;
    padding       : 0 10px;
    text-align    : center;
    width         : 325px;

    @media #{$xs} {
      font-size: 14px;
      max-width: 300px;
    }
  }

  .type_input-text {
    color      : rgba($color04, 0.8);
    font-size  : 14px;
    font-weight: 600;
    margin-top : 10px;
  }
}