// COMPONENTS STYLES

@import './Account/_style';
@import './common/_style';
@import './CookiesPopup/_style';
@import './Filter/_style';
@import './Footer/_style';
@import './Home/_style';
@import './Legal/_style';
@import './Page404/_style';
@import './product/_style';
@import './search/_style';
@import './shoppingCart/_style';
@import './Category/_style';
@import './Checkout/_style';
@import './Compare/style';
// @import './Landing/_style';
@import './MyAccount/_style';
@import './Navbar/_style';