.services-div {
    width: 100%;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .services-titles {
        margin-left: 150px;
    }

    .bonus-games-div {
        display: flex;
        width: 100%;
        height: 246px;
        justify-content: center;
        margin-bottom: 100px;

        .bonus-div, .games-div {
            display: flex;
            flex-direction: column;
            width: 543px;
            margin-right: 20px;
            padding: 40px 20px 40px 20px;

            a {
                display: flex;
                height: 100%;
                align-items: flex-end;
            }
        }

        .games-div {
            background: url("/images/group@2x.jpg");
            background-repeat: round;

            h4 {
                color: white;
                width: 45%;
            }
        }
    }
}

//MOBILE 

@include respond(phone) {

    .services-div {
        height: 100%;

        .services-titles {
            width: 100%;
            margin: 30px;
        }

        .bonus-games-div {
            flex-direction: column;
            height: auto;
            margin-bottom: 30px;

            .bonus-div {
                margin-bottom: 30px;
                width: 100%;
                height: 341px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;                

                h4 {
                    width: 80%;
                }

                button {
                    width: 100%;
                }
            }

            .games-div {
                width: 100%;
                height: 341px;     
                background-size: cover;
                background-repeat: no-repeat; 
                
                h4 {
                    width: 80%;
                    margin-left: 10px;
                }    
                
                button {
                    width: 100%;
                }
            }
        }
    }
}