@import './PriceRange/_style';
@import './SizeFilter/_style';
@import './ColorFilter/_style';


.filter_ui {
  $father  : &;
  height   : 60px;
  margin   : 25px auto 50px;
  max-width: 1071px;
  position : relative;

  @media #{$sm} {
    margin: 0 auto 40px;
  }

  @media #{$xs} {
    margin: 0 auto 20px;
  }

  .container {
    @include border-radius(6px);
    @include box-shadow($boxShadow01);
    background-color: $color01;
    width           : 100%;
    padding         : 0 35px;
    position        : absolute;
    z-index         : 7;  // badge_ui-products (6) > y < NavBar (10)

    @media #{$sm} {
      @include border-radius(0);
    }

    @media #{$xs} {
      padding: $paddingXS;
    }
  }


  &-top {
    @include flex-complete(space-between);
    height: 60px;

    @media #{$xs} {
      @include justify-content(center);
    }
  }

  &-title {
    @include transition(color 400ms cubic-bezier(0.165, 0.84, 0.44, 1));
    color       : $color04;
    font-size   : 15px;
    font-weight : 600;
    margin-right: 20px;
  }

  &-btn_show_filters {
    @include flex-complete(space-between);
    background: initial;
    border    : none;
    cursor    : pointer;
    outline   : none;

    &-img {
      @include transition(background-image 400ms cubic-bezier(0.165, 0.84, 0.44, 1));
      background-image : url('/static/images/icon_filter.png');
      background-repeat: no-repeat;
      background-size  : cover;
      height           : 20px;
      width            : 22px;
    }

    &:hover {
      #{$father}-title {
        color: $color03;
      }

      #{$father}-btn_show_filters-img {
       background-image: url('/static/images/icon_filter_hover.png');
      }
    }
  }

  &-all {
    @include transition(max-height 800ms);
    margin    : 0;
    max-height: 0;
    overflow  : hidden;
    width     : 100%;

    .filter_ui-all_container {
      padding: 0 0 20px;
    }
  }
}