.app-search {
  padding-bottom: 70px;

  &-info {
    margin     : 0 auto;
    max-width  : 1030px;
    padding-top: 40px;
  }

  &-title {
    font-weight  : 600;
    font-size    : 29px;
    margin-bottom: 20px;
  }
}