.a_p-related_p {
  margin: 0 auto;
  max-width: 960px;

  img.share-icon{
    &:hover{
      cursor: pointer;
    }
  }

  @media #{$sm} {
    max-width: 650px;
  }

  @media #{$xs} {
    max-width: 335px;
  }

  &-title {
    font-size : 18px;
    margin    : 0 0 10px 10px;
    font-weight: bold;
    color: $dark-grey;

    @media #{$xs} {
      font-size: 20px;
      margin: 0 0 20px;
    }
  }

  .related-products-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .relative{
      width: 280px;
      height: 255px;
      margin-top: 20px;
    }
  }

  .product_box_ui {
    margin: 0 12px 0;
    width: 266px;
    height: auto;
    background: black;

    &-desc {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background: $dark-black;
      height: 60px;
      width: 266px;
      margin-left: 12px;
      margin-bottom: 15px;
      border-radius: 0;
      // z-index: 11000;
      top: -60px;
      position: relative;
      transition: 0.5s;

      .desc-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &:hover {
        height: 100%;
        position: relative;
        top: -255px;
        margin-bottom: 0;
        opacity: 0.9;
        padding-top: 20px;
      }

      .name-price-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .desc {
        margin-bottom: 10px;
        color: white;
      }

      .see-more {
        color: $brand01;
      }
    }

    &-title {
      color: white;
      font-size: 13px;
      font-weight: bold;
    }

    &-price{

      p{
        color: white;
        font-size: 13px;
      }
    }

    &-img{
      height: 254px;
      border-radius: 0;

      img{
        height: -webkit-fill-available;
      }
    }
  }

  .badge_ui-products {
    left: -12px;
  }

  &-slider {
    .slick-list {
      margin   : 0 14px;
      max-width: 1175px;
    }
  
    .slick-track {
      margin-left : initial;
      margin-right: initial;
    }

    .slick-prev, .slick-next {
      height: 23px;
      width : 14px;
      z-index: 2;
    }

    .slick-prev {
      left: 0;
      
      &:before {
        @include opacity(1);
        content  : url('/images/icon_previous.png');
        font-size: 25px;
      }
  
      &:hover {
        &:before {
          content: url('/images/icon_previous_hover.png');
        }
      }
    }
    
    .slick-next {
      right: 0;
      
      &:before {
        @include opacity(1);
        content  : url('/images/icon_next.png');
        font-size: 25px;
      }
  
      &:hover {
        &:before {
          content: url('/images/icon_next_hover.png');
        }
      }
    }
  }
}

.app-product {
  margin        : 0 auto;
  // max-width     : 1230px;
  padding-bottom: 70px;
  width: 100%;

  .product-header{
    background-color: #fccb1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 121px;
  }

  @media #{$sm} {
    padding-bottom  : 50px;
  }

  &-box_product {
    @include flex-complete(flex-start, start);
    background-color: white;
    min-height      : 600px;
    margin          : 0 15px;
    
    @media #{$sm} {
      @include flex-direction(column);
      @include box-shadow(none);
      @include border-radius(0);
      background-color: initial;
      margin          : 25px 20px 10px;
      min-height      : initial;
    }

    @media #{$xs} {
      margin: 25px 20px 0;
    }
  }

  &-box_information {
    @include flex-complete(space-between, start);
    margin   : 35px auto 70px;
    padding  : 0 30px;
    max-width: 1155px;

    @media #{$sm} {
      @include flex-complete(start, start, wrap, column);
      padding: 0;
      margin : 0 12px 50px;
    }
  }
}