.a_p-related_p {
  margin: 0 auto;
  max-width: 960px;

  img.share-icon{
    &:hover{
      cursor: pointer;
    }
  }

  @media #{$sm} {
    max-width: 650px;
  }

  @media #{$xs} {
    max-width: 335px;
  }

  &-title {
    font-size : 18px;
    margin    : 0 0 10px 10px;
    font-weight: bold;
    color: $dark-grey;

    @media #{$xs} {
      font-size: 20px;
      margin: 0 0 20px;
    }
  }

  .related-products-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .relative{
      width: 280px;
    }
  }

  .product_box_ui {
    margin: 0 12px 0;
    width: 266px;
    height: auto;
    background: black;

    &-desc {
      padding: 15px;
      display: flex;
      flex-direction: row;
      background: $dark-black;
      height: 60px;
      width: 266px;
      margin-left: 12px;
      margin-bottom: 15px;
      border-radius: 0;

      .name-price-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-title {
      color: white;
      font-size: 13px;
      font-weight: bold;
    }

    &-price{

      p{
        color: white;
        font-size: 13px;
      }
    }

    &-img{
      height: 196px;
      border-radius: 0;

      img{
        height: -webkit-fill-available;
      }
    }
  }

  .badge_ui-products {
    left: -12px;
  }

  &-slider {
    .slick-list {
      margin   : 0 14px;
      max-width: 1175px;
    }
  
    .slick-track {
      margin-left : initial;
      margin-right: initial;
    }

    .slick-prev, .slick-next {
      height: 23px;
      width : 14px;
      z-index: 2;
    }

    .slick-prev {
      left: 0;
      
      &:before {
        @include opacity(1);
        content  : url('/images/icon_previous.png');
        font-size: 25px;
      }
  
      &:hover {
        &:before {
          content: url('/images/icon_previous_hover.png');
        }
      }
    }
    
    .slick-next {
      right: 0;
      
      &:before {
        @include opacity(1);
        content  : url('/images/icon_next.png');
        font-size: 25px;
      }
  
      &:hover {
        &:before {
          content: url('/images/icon_next_hover.png');
        }
      }
    }
  }
}