

.reset_password{
    .title{
        
    }
    .app_account-form{
        max-width: 350px;
        margin   : 50px auto;

        @media #{$xs} {
        margin: 20px auto 40px;
        }

        .title {
        color        : $color13;
        font-size    : 24px;
        margin-bottom: 35px;
        text-align   : center;

            @media #{$xs} {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .account_success{
        color: red;
    }
}