@import './ItemCart/_style.scss';

.app_cart_aside {
  background-color: $color01;
  height          : 100%;
  max-width       : 470px;
  overflow-y      : auto;
  padding         : 60px 40px;
  right           : 0;
  width           : 470px;

  @media #{$xs} {
    padding: 20px 15px 40px;
    width  : 100%;
  }

  @import './Header/_style.scss';
  @import './Discount/_style.scss';

  
  &-list {
    border-bottom: 1px solid $color20;
    padding      : 10px 0 23px;
  }

  &-cart_empty {
    color    : $color04;
    font-size: 24px;
    margin   : 40px 0;
  }

  
  &-summary_purchase {
    padding: 17px 0 35px;

    .line {
      @include flex-complete(space-between);
      padding: 5px 0;
      
      p {
        font-size  : 16px;
        line-height: 24px;
      }

      &.total_pay {
        border-top: 2px solid $color20;
        padding   : 23px 0 0;
        margin    : 10px 0 0;

        p {
          font-size: 18px;
          color    : $color13;
        }
      }
    }
  }

  &-btn_to_buy {
    text-align: center;

    .btn_buy {
      @include transition(background-color 500ms);
      @include border-radius(5px);
      background-color: rgba($color03, 0.7);
      border          : 1px solid $color03;
      color           : $color01;
      display         : inline-block;
      font-size       : 16px;
      font-weight     : 600;
      height          : 48px;
      line-height     : 48px;
      text-decoration : none;
      width           : 227px;

      @media #{$xs} {
        width      : 170px;
        line-height: 40px;
        height     : 40px;
        font-size  : 14px;
      }

      &:hover {
        background-color: rgba($color03, 1);
      }
    }
  }
}
