.app_cart_popup {
  @include transition(all 700ms);
  @include opacity(0);
  background-color: rgba($color11, 0);
  position        : fixed;
  top             : 0;
  left            : 0;
  bottom          : 0;
  overflow        : hidden;
  right           : 0;
  z-index         : -1;

  .hidden_left {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .cart_popup-aside {
    @include transition(transform 800ms ease);
    @include transform(translateX(105%));
    position: absolute;
  }

  .cart_popup-aside_show {
    @extend .cart_popup-aside;
    @include transform(translateX(0%));
  }
}


.app_cart_popup-show {
  @extend .app_cart_popup;
  @include opacity(1);
  background-color: rgba($color11, 0.94);
  z-index         : 200;

  @media #{$xs} {
    background-color: $color01;
  }

  & ~ .app {
    max-height: 100%;
    overflow  : hidden;
  }
}